<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <a href="/"><h3>Home page</h3></a>
    <h2>List product</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Product id</th>
            <th>Product name</th>
            <th>Product type</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <% products.forEach((entry) => { %>
            <tr ondblclick="handleUpdateProduct('<%= entry.id %>')">
                <td><%= entry.id %></td>
                <td><%= entry.name %></td>
                <td><%= entry.type %></td>
                <td>
                    <input class="btn btn-secondary" type="button" value="Delete"
                           onclick="handleDeleteProduct('<%= entry.id %>')">
                </td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                           onclick="handleUpdateProduct('<%= entry.id %>')">
                </td>
            </tr>
        <% }) %>
    </table>
    <script>
        function handleDeleteProduct(value) {
            $.ajax({
                url: '/product/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/product');
                }
            })
        }

        function handleUpdateProduct(value) {
            $(location).attr('href', '/update-product/' + value);
        }
    </script>
</div>
</body>

</html>
